extends layout

mixin field(id, label)
  .form-group.has-feedback(class=error[id] ? 'has-error' : void 0)
    label.control-label.col-sm-3(for='amount') #{label}:
    .col-sm-9
      input.form-control(id= id, type='tel', name= id, value= value[id])
      if error[id]
        span.help-block #{error[id]}

block title
  title Reaquest a loan | Parkside Lending

block content
  .container
    .col-sm-2
    .col-sm-8
      form.form-horizontal(method='post')
        .form-group
          h3.col-sm-4 Request a loan

        hr

        +field('amount', 'Loan amount')
        +field('value', 'Property value')
        +field('ssn', 'SSN')
        
        .form-group.has-feedback
          .col-sm-offset-3.col-sm-9
            button.btn.btn-primary(type='submit') Create loan request
    
    .col-sm-2

  script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.slim.min.js" integrity="sha256-/SIrNqv8h6QGKDuNoLGA4iret+kyesCkHGzVUUV0shc=", crossorigin="anonymous")
  script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery.maskedinput/1.4.1/jquery.maskedinput.min.js" integrity="sha256-+4KHeBj6I8jAKAU8xXRMXXlH+sqCvVCoK5GAFkmb+2I=", crossorigin="anonymous")
  script $(ssn).mask('999-99-9999')